<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/flex_icon.png">
    <title>FLEX</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
    ></script>
    <script defer src="/static/js/script.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="header-wrap">
            <div class="left-section">FLEX</div>
            <div class="middle-section"></div>
            <div class="right-section">
                <div class="btn btn-category" onclick="show_products()">전체</div>
                <div class="btn btn-category" onclick="show_products(1)">패션</div>
                <div class="btn btn-category" onclick="show_products(2)">전자제품</div>
                <div class="btn btn-category" onclick="show_products(3)">음식</div>
                <div class="btn btn-category" onclick="show_products(4)">화장품</div>
                <div class="btn btn-category" onclick="show_products(5)">기타</div>
            </div>
        </div>
    </header>
    <main>
        <div class="page-wrap">
            <div id="pagination">
                <ul class="pagination-list">
        
                </ul>
            </div>
            <div class="btn-register-wrap">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-register" data-bs-toggle="modal" data-bs-target="#RegisterModal">
                    +
                </button>
            </div>
        </div>

        <!-- product_list -->
        <div class="product-box">
            <div class="product-wrap">
            </div>
        </div>

        <!-- product_info -->
        <div class="product-detail">
        </div>

        <!-- Register Modal -->
        <div class="modal fade" id="RegisterModal" tabindex="-1" aria-labelledby="RegisterModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="RegisterModalLabel">Register</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-box-wrap">
                            <div class="input-box">
                                <div class="input-target">User</div>
                                <div class="input-content">
                                    <input type="text" class="input-modal user">
                                </div>
                            </div>
                            <div class="input-box">
                                <div class="input-target">Product</div>
                                <div class="input-content">
                                    <input type="text" class="input-modal name">
                                </div>
                            </div>
                            <div class="input-box">
                                <div class="input-target">Category</div>
                                <div class="input-content">
                                    <select name="category" id="category-select" class="input-modal category">
                                        <option value="0" selected>선택</option>
                                        <option value="1">패션</option>
                                        <option value="2">전자제품</option>
                                        <option value="3">음식</option>
                                        <option value="4">화장품</option>
                                        <option value="5">기타</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-box">
                                <div class="input-target">Price</div>
                                <div class="input-content">
                                    <input type="text" class="input-modal price">
                                </div>
                            </div>
                            <div class="input-box">
                                <div class="input-target">URL</div>
                                <div class="input-content">
                                    <input type="text" class="input-modal url">
                                </div>
                            </div>
                            <div class="input-box">
                                <div class="input-target">Description</div>
                                <div class="input-content">
                                    <textarea name="" id="" class="input-modal description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="save_product()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modify Modal -->
        <div class="modal fade" id="ModifyModal" tabindex="-1" aria-labelledby="ModifyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModifyModalLabel">Modify</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-box-wrap">
                            <div class="input-box">
                                <div class="input-target">User</div>
                                <div class="input-content">
                                    <input type="text" class="input-modal user">
                                </div>
                            </div>
                            <div class="input-box">
                                <div class="input-target">Product</div>
                                <div class="input-content">
                                    <input type="text" class="input-modal name">
                                </div>
                            </div>
                            <div class="input-box">
                                <div class="input-target">Category</div>
                                <div class="input-content">
                                    <select name="category" id="category-select" class="input-modal category">
                                        <option value="0" selected>선택</option>
                                        <option value="1">패션</option>
                                        <option value="2">전자제품</option>
                                        <option value="3">음식</option>
                                        <option value="4">화장품</option>
                                        <option value="5">기타</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-box">
                                <div class="input-target">Price</div>
                                <div class="input-content">
                                    <input type="text" class="input-modal price">
                                </div>
                            </div>
                            <div class="input-box">
                                <div class="input-target">URL</div>
                                <div class="input-content">
                                    <input type="text" class="input-modal url">
                                </div>
                            </div>
                            <div class="input-box">
                                <div class="input-target">Description</div>
                                <div class="input-content">
                                    <textarea name="" id="" class="input-modal description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="modify_product()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Confirm Delete Modal -->
        <div id="confirm-modal" class="confirm-modal">
            <div class="confirm-modal-content">
            <span class="confirm-close-btn">&times;</span>
            <p id="confirm-message">정말 삭제하시겠습니까?</p>
            <div class="confirm-button-group">
                <button id="confirm-yes-btn">예</button>
                <button id="confirm-no-btn">아니오</button>
            </div>
            </div>
        </div>
    </main>
</body>
</html>